.admin_biodata_card {
  padding: 15px;
  width: max-content;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px purple;
}
.admin_biodata_card .approveBtn {
  margin-right: 10px;
}
.admin_biodata_card p {
  margin-bottom: 5px;
}
.admin_biodata_card .editBtn {
  margin-right: 10px;
}
