:root {
  --navBG: linear-gradient(to right, purple, blueviolet);
}
.mobileNavber {
  background: var(--navBG);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  overflow: hidden;
  width: 100%;
}
.mobileNavber .div1 img {
  width: 70px;
  margin-top: 7px;
  margin-bottom: 9px;
}
.mobileNavber .div1 {
  width: 100%;
}
.mobileNavber .navLink {
  background: linear-gradient(to right, purple, blueviolet, purple);
  margin-left: 10px;
  margin-bottom: -10px;
  padding: 20px;
  width: 100%;
}
.mobileNavber .div1 .navLinks {
  position: relative;
  display: block;
  background: linear-gradient(to right, purple, blueviolet, purple);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: -10px;
  margin-bottom: -10px;
  width: 200%;
  transition: 0.1s;
}
.mobileNavber .navLinksHide {
  position: absolute;
  top: 100;
  left: 0;
  margin-top: 9px;
  margin-left: -500px;
  transition: none;
}
.mobileNavber .div1 span {
  color: white;
}
.mobileNavber .div2 {
  width: max-content;
  height: max-content;
}
.mobileNavber .NavLink {
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid rgb(121, 121, 121);
  border-radius: 4px;
}
.mobileNavber .NavLink:hover {
  box-shadow: 0 0 5px whitesmoke;
  background-color: rgb(101, 9, 187);
}
.mobileNavber .NavLink:focus {
  box-shadow: 0 0 5px whitesmoke;
  background-color: rgb(101, 9, 187);
}
.mobileNavber .div2 .MenuToggle {
  margin-top: 10px;
  margin-right: 10px;
  border: 1px solid whitesmoke;
  box-shadow: none;
  background-color: var(--navBG);
}
.mobileNavber .div2 .MenuToggleHide {
  display: none;
}
.mobileNavber .div2 .MenuToggle span {
  background-color: white;
}

.mobileNavber .div2 .navClose {
  display: block;
  background: none;
  border: none;
  padding: 0 15px;
  font-size: 35px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}
.mobileNavber .div2 .navCloseHide {
  display: none;
}
/*  */ /*  */
/*  */ /*  */
@media screen and (min-width: 971px) {
  .mobileNavber {
    display: none;
  }
}
