.allBiodata {
  width: 390px;
  margin-left: -30px;
}
.allBiodata .div1 {
  background: linear-gradient(to right, purple, blueviolet, blue);
  margin: 15px;
  border-radius: 5px;
  box-shadow: 0 0 20px blueviolet;
  width: 100%;
}
.allBiodata .div1:hover {
  box-shadow: 0 0 20px blue;
}
.allBiodata .div1 .biodataCard {
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.allBiodata .div1 .biodataCard .cardBodyLine {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: whitesmoke;
  border: 1px solid rgb(94, 94, 94);
  margin: 5px 0;
  border-radius: 4px;
}
.allBiodata .div1 .biodataCard .cardBodyLineId {
  border: 1px solid rgb(17, 185, 214);
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: aqua;
  text-align: center;
}
.allBiodata .div1 .biodataCard .cardBodyLineId .p1 {
  margin-left: 8px;
}

.allBiodata .div1 .biodataCard .cardBodyLine .p1 {
  padding: 10px;
  padding-right: 0px;
  width: max-content;
  display: inline-block;
}
.allBiodata .div1 .biodataCard .cardBodyLine .p2 {
  padding: 10px;
  padding-left: 5px;
  width: max-content;
}
.allBiodata .div1 .biodataCard .cardBodyLine .p3 {
  padding: 10px;
  border-left: 1px solid whitesmoke;
}
/*  */
@media screen and (min-width: 450px) {
  .allBiodata {
    margin: 15px 0;
  }
}
